@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,600;1,100;1,900&display=swap');

body { 
	font-family: 'Advent Pro', sans-serif;
    color: black;
	max-height: 100%;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
.container, .container__template {
    max-width: 500px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 15px;
    margin-top: 50px;
}
.posts {
    padding: 20px;
    font-weight: 600;
}
.posts__title {
    font-size: 24px;
}
.posts__body {
    font-size: 18px;
}
.comments {
    padding: 0 20px 20px 20px;
    font-weight: 600;
}
.comments__border {
    margin: 0;
    padding-left: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
}
.container__template {
    display: none;
}
.hidden {
    display: none;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}
  
.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #494a4f;
    border-radius: 1px;
    border: none;
}
  
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.pagination button.active {
    background-color: #007bff;
    color: white;
}
